.Box{
    border-radius: 50%;
    border: 5px solid #d90d0d;
    width: 135px;
    padding: 10px;
    font-size: 25px;}

.PizzaShack{
    border-radius: 50%;
    background-color: #edab02 ;
    border: 7px solid brown;
    right: 2%;
    position: fixed;
    text-align: center;}

.FatherJohns{
    border-radius: 50%;
    background-color: #edab02 ;
    border: 7px solid brown;
    left: 2%;
    position: fixed;
    text-align: center;}

.MobileMove{
    left: 2%;
    bottom: 10%;
    position: fixed;
    text-align: center;}
    
.CanvasPos{
    padding: 800px;
    float: left;
    background: rgb(126, 42, 12);}

.Stop{
    background-color: green;}
